## Irrelevant Data

### Code

In [ ]:
df = df[(df['Target'] != 'Enrolled')]

In [ ]:
df['Target'] = df['Target'].map({'Dropout': 0, 'Graduate': 1})

<ipython-input-204-ad44345b3149>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Target'] = df['Target'].map({'Dropout': 0, 'Graduate': 1})

### Comment

---

**Target variable contains values for students who have "Enrolled", which is not inline with the goal of this project and its research questions. 
Therefore, each row with value "Enrolled" will be dropped and each row with value "Dropout" and "Graduate" will be replaced with 0 and 1 respectively.**

---

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3630 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  3630 non-null   category
 1   Application mode                                3630 non-null   category
 2   Application order                               3630 non-null   category
 3   Course                                          3630 non-null   category
 4   Daytime/evening attendance	                     3630 non-null   category
 5   Previous qualification                          3630 non-null   category
 6   Previous qualification (grade)                  3630 non-null   float64
 7   Nacionality                                     3630 non-null   category
 8   Mother's qualification                          3630 non-null   category
 9   Father's qualification                          3630 non-null   category
 10  Mother's occupation                             3630 non-null   category
 11  Father's occupation                             3630 non-null   category
 12  Admission grade                                 3630 non-null   float64
 13  Displaced                                       3630 non-null   category
 14  Educational special needs                       3630 non-null   category
 15  Debtor                                          3630 non-null   category
 16  Tuition fees up to date                         3630 non-null   category
 17  Gender                                          3630 non-null   category
 18  Scholarship holder                              3630 non-null   category
 19  Age at enrollment                               3630 non-null   int64
 20  International                                   3630 non-null   category
 21  Curricular units 1st sem (credited)             3630 non-null   int64
 22  Curricular units 1st sem (enrolled)             3630 non-null   int64
 23  Curricular units 1st sem (evaluations)          3630 non-null   int64
 24  Curricular units 1st sem (approved)             3630 non-null   int64
 25  Curricular units 1st sem (grade)                3630 non-null   float64
 26  Curricular units 1st sem (without evaluations)  3630 non-null   int64
 27  Curricular units 2nd sem (credited)             3630 non-null   int64
 28  Curricular units 2nd sem (enrolled)             3630 non-null   int64
 29  Curricular units 2nd sem (evaluations)          3630 non-null   int64
 30  Curricular units 2nd sem (approved)             3630 non-null   int64
 31  Curricular units 2nd sem (grade)                3630 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  3630 non-null   int64
 33  Unemployment rate                               3630 non-null   float64
 34  Inflation rate                                  3630 non-null   float64
 35  GDP                                             3630 non-null   float64
 36  Target                                          3630 non-null   int64
dtypes: category(18), float64(7), int64(12)
memory usage: 640.6 KB